@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

/*Variables */
:root{
    --primary-font:'Sora', sans-serif;
    --primary-color:#681CFC;
    --background-color: #F3F8FF;
    --primary-color-font:#191825;
    --color-call-to-action:#7091F5;
    --button-color:#FAEF5D;
}

/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
html{
    width: 500px;
}

/* header */
header{
    width: 100%;
    height: 40px;
}
.call-to-action{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--color-call-to-action);
    justify-content: center;
    align-items: center;
    height: 100%;
}
.call-to-action p{
    font-size: 16px;
    color: var(--background-color);
    margin-right: 10px;
    /* font-weight: 400; */
}
.call-to-action img{
    width: 24px;
    height: 24px;
}